# -----------------------------

# Python

# -----------------------------

**pycache**/
*.pyc
*.pyo
*.pyd

# Python virtual environments

venv/
env/
.venv/

# Distribution / packaging

build/
dist/
*.egg-info/

# -----------------------------

# Flask

# -----------------------------

instance/
.webassets-cache

# -----------------------------

# Environment variables

# -----------------------------

.env

# -----------------------------

# macOS

# -----------------------------

.DS_Store

# -----------------------------

# IDE / Editors

# -----------------------------

.vscode/
.idea/

# -----------------------------

# Logs

# -----------------------------

*.log

# -----------------------------

# Database

# -----------------------------

*.sqlite3
*.db

# -----------------------------

# Jupyter

# -----------------------------

.ipynb_checkpoints
